<footer>
    
    <div class="about">
    <h4>ABOUT US</h4>
    <p>Our premium services speak of the highest quality workmanship in the India.</p>
    <p>Contact No : 9677009677-/-8015008015</p>
    <p><a href="mailto:food@gmail.com">Email Id : food@gmail.com</a></p>
    </div>
    
    <div class="location">
    <h4>BRANCH LOCATIONS</h4>
    <p><a href="#">INDIA</a></p>
    <p><a href="#">UKRAINE</a></p>
    <p><a href="#">RUSSIA</a></p>
    <p><a href="#">UAE</a></p>
    <p><a href="#">NORTH KOREA</a></p>
    </div>

    <div class="links">
    <h4>QUICK LINKS</h4>
    <p> <a href="#">HOME</a></p>
       <p><a href="#">GALLERY</a></p> 
        <p><a href="#">BOOK</a></p>
       <p> <a href="#">POLICY</a></p>
       <p> <a href="#">CONTACT</a></p>
    </div>

    <div class="follow">
    <h4>FOLLOW US</h4>
    <p><a href="#">FACEBOOK</a></p>
       <p><a href="#">INSTAGRAM</a></p> 
       <p> <a href="#">TWITTER</a></p>
        <p><a href="#">LINKEDIN</a></p>
        <p><a href="#">YOUTUBE</a></p>
    </div>

    <br>
  
</footer>