<section class="book" id="book">
    <h1 class="heading">
        <span>M</span>
        <span>E</span>
        <span>N</span>
        <span>U</span>
        <span class="space"></span>
        <span>L</span>
        <span>L</span>
        <span>I</span>
        <span>S</span>
        <span>T</span>
    </h1>

    <div class="box-container">

        <div class="box">
            <img src="https://media.istockphoto.com/photos/caprese-caprese-salad-italian-salad-mediterranean-salad-italian-picture-id479831676?k=20&m=479831676&s=612x612&w=0&h=PjyLzQUmYYhachGp0ebZfUskhyZW_7tyfIMVjvlYupk=" 
            alt="1 bedroom">
            <div class="content">
                <h3><i class="fas fa-bed"></i>1 italian food</h3>
                <p>Our One-Bedroom Pool Villas are generously sized (122sqm) with a heated infinity pool that provide ample space 
                    for couples to unwind and play. Each villa’s bathrooms feature luxurious Makassar marble,
                    double vanities, deep soaking bathtub and separate indoor and outdoor showers. 
                    The interiors are a mix of contemporary Balinese decor, rich teak furnishing and exotic fabrics.
            </p>
            <div class="price">IDR 2,800,000
                <p>Cost for 1 night, 2 guests</p>
            </div>
            <a href="http://127.0.0.1:5500/index.html#booking" class="btn">Book</a>
            </div>
        </div>

        <div class="box">
            <img src="https://opt.toiimg.com/recuperator/img/toi/m-66178926/66178926.jpg&width=500&resizemode=4" 
            alt="1 bedroom Deluxe">
            <div class="content">
                <h3><i class="fas fa-bed"></i>1 Gujrati food</h3>
                <p>Upgrade your stay! Why not spoil yourself and your loved one with undisturbed lush tropical jungle views? 
                    Sitback and relax in your private heated infinity pool whilst appreciating the magical view that nature has to offer. 
                    The interiors and artworks are inspired from the bygone era of Bali and features a king-size bed, double vanities,
                    deep soaking bathtub and separate indoor and outdoor showers.
                </p>
            <div class="price">IDR 4,000,000
                <p>Cost for 1 night, 2 guests</p>
            </div>
            <a href="http://127.0.0.1:5500/index.html#booking" class="btn">Book</a>
            </div>
        </div>
        <div class="box">
            <img src="https://cdn.pixabay.com/photo/2021/02/28/09/38/food-6056720__340.jpg" 
            alt="2 bedroom">
            <div class="content">
                <h3><i class="fas fa-bed"></i>2 indian food</h3>
                <p>Our 198 sqm two-storey pool villas enjoy stunning views of the resort and blissful surroundings. 
                    The ground floor features a king-size bedroom, stylish living and dining area and access to a generously sized heated infinity pool.
                    Upper floor features an elegant seating area and king-size bedroom that leads to a vast marble bathroom with deep soaking bathtub,
                    separate rain shower and a twin vanity unit.
                </p>
            <div class="price">IDR 5,200,000
                <p>Cost for 1 night, 2 guests</p>
            </div>
            <a href="http://127.0.0.1:5500/index.html#booking" class="btn">Book</a>
            </div>
        </div>

        <div class="box">
            <img src="https://cdn.pixabay.com/photo/2020/05/17/04/22/pizza-5179939__340.jpg" 
            alt="3 bedroom">
            <div class="content">
                <h3><i class="fas fa-bed"></i>pizza hut</h3>
                <p>The 245 sqm two-storey three-bedroom pool villas is our most spacious accommodation, 
                    offering the ultimate blend of Balinese style and timeless elegance.The interiors and artworks are inspired from the bygone era of Bali and features a king-size bed, double vanities,
                    deep soaking bathtub and separate indoor and outdoor showers. 
                    The ground floor features a king-size bedroom and a stylish separate living and dining area.
                </p>
            <div class="price">IDR 6,000,000
                <p>Cost for 1 night, 2 guests</p>
            </div>
            <a href="http://127.0.0.1:5500/index.html#booking" class="btn">Book</a>
            </div>
        </div>

        <div class="box">
            <img src="https://media.istockphoto.com/photos/chocolate-fudge-cake-and-vanilla-chip-ice-cream-picture-id185250978?k=20&m=185250978&s=612x612&w=0&h=o0OeD06LRw_NJvfrWVixOr8Y22fGaKvH2Zf4cdvL708=" 
            alt="4 bedroom">
            <div class="content">
                <h3><i class="fas fa-bed"></i>4 Dessertto cakes and icrems</h3>
                <p>The upper floor features two king-size bedrooms with private access to a marble bathroom with twin vanity unit,
                    deep soaking bathtub and a separate shower area. 
                    The outdoor area features a generously sized private heated infinity pool and a gazebo
                    for you to enjoy the balmy Balinese nights with your family and/or and friends.
                </p>
            <div class="price">IDR 7,200,000
                <p>Cost for 1 night, 2 guests</p>
            </div>
            <a href="http://127.0.0.1:5500/index.html#booking" class="btn">Book</a>
            </div>
        </div>

        <div class="box">
            <img src="https://www.kannammacooks.com/wp-content/uploads/masala-fish-fry-recipe-ayala-meen-Mackerel-fry-8.jpg" 
            alt="4 bedroom">
            <div class="content">
                <h3><i class="fas fa-bed"></i>4 Bedroom Deluxe Pool Villa</h3>
                <p> The interiors and artworks are inspired from the bygone era of Bali and features a king-size bed, double vanities,
                    deep soaking bathtub and separate indoor and outdoor showers.The outdoor area features a generously sized private heated infinity pool and a gazebo
                    for you to enjoy the balmy Balinese nights with your family and/or and friends.

            <div class="price">IDR 7,800,000
                <p>Cost for 1 night, 2 guests</p>
            </div>
            <a href="http://127.0.0.1:5500/index.html#booking" class="btn">Book</a>
            </div>
        </div>
    </div>
</section>

