<br><br>

<div class="panel panel-primary">
 

  </div>
  <div class="panel-body">
  <div class="container">
           
    <table >
      <thead>
        <tr>
          <th>Order_Id</th>
          <th>Track Number</th>
          <th>UPI_ID</th>
          <th>Address</th>
          <th>Quantity</th>
          <th>Product Id</th>
          <th>Customer ID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders | async">
          <td>{{order.order_id}}</td>
          <td>{{order.track_no}}</td>
          <td>{{order.upi_id}}</td>
          <td>{{order.address}}</td>
          <td>{{order.quantity}}</td>
          <td>{{order.product.product_id}}</td>
          <td>{{order.user.user_id}}</td>
          <td><button (click)="deleteOrder(order.order_id)" class="button btn1" >DELETE</button>
            <button (click)="orderDetails(order.order_id)" class="button btn2" >Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <br>
  <br>
  <br>
  <br>


