<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
   <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="container my-3 bg-light">
        <div class="col-md-12 text-center">
            <b><a href="aproducts" class="btn btn-info" role="button"> <h2>MENU</h2></a></b>
            <b><a href="padd" class="btn btn-info" role="button"><h2>ADD PRODUCT</h2></a></b>
            <b><a href="registers" class="btn btn-info" role="button"><h2>USER DETAILS</h2></a></b>
            <b><a href="orders" class="btn btn-info" role="button"><h2>ORDER DETAILS</h2></a></b>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
       
        <div class="card-deck">
            <div class="card bg-dark text-white">
              <div class="card-body text-center">
                  <h1><b>MENU</b></h1><br>
                <h4 class="card-text">You Can view the food items and its availability.</h4><br>
                <h4 class="card-text">Click on the MENU  Button to view the menu</h4><br><br>
                
              </div>
            </div>
            <div class="card  bg-dark text-white">
              <div class="card-body text-center">
                <h1><b>ADD PRODUCT</b></h1><br>
                <h4 class="card-text"> You Can add new food items according to your wish.</h4><br>
                <h4 class="card-text">Click on the ADD PRODUCT Button to add new items</h4><br>
              </div>
            </div>


            <div class="card  bg-dark text-white">
              <div class="card-body text-center">
                <h1><b>USER DETAILS</b></h1><br>
                <h4 class="card-text"> You Can view all the registered users over here.</h4><br>
                <h4 class="card-text">Click on the USER DETAILS Button to manage users</h4><br>
              </div>
            </div>

            <div class="card  bg-dark text-white">
              <div class="card-body text-center">
                <h1><b>ORDER DETAILS</b></h1><br>
                <h4 class="card-text"> You Can view all the order details of the registered users.</h4><br>
                <h4 class="card-text">Click on the ORDER DETAILS Button view all orders</h4><br>
              </div>
            </div>
            
          </div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
      
	<!--<script>
		function myFunction(id) {
		  var x = document.getElementById(id);
		  if (x.className.indexOf("w3-show") == -1) {
			x.className += " w3-show";
		  } else {
			x.className = x.className.replace(" w3-show", "");
		  }
		}
	</script>-->

</body>
